.git*
**/*.pyc
**/__pycache__/

cicd_app/settings/*
!cicd_app/settings/__init__.py
!cicd_app/settings/base.py
!cicd_app/settings/production.py

**/*.db

**/tests
**/__tests__

.venv/
dev/
dist/

frontend/*
!frontend/dist
